{% extends 'index/index.html' %}

{% block block_body %}
    <form action={% url 'search_manicurist' %} method="get">
        {% csrf_token %}
        <table>
            {{my_form.as_table}}
        </table>
        <input type="submit" value="Search">
    </form>

    {% if dato %}
        <div class="row">
            {% for manicurist in search_for_manicurists %}
                <div class="col-sm-auto">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ manicurist.name }} {{manicurist.lasName}}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock block_body %}