.sectionAccount{
  background-image: url('../assets/background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}