{% extends 'index/index.html' %}

{% block block_body %}
      
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        {% load static %}
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src={% static 'assets/background.jpg' %} class="d-block w-100" alt="slide-one">
            <div class="carousel-caption d-none d-md-block h-75">
              <h5 class="text-dark">Welcome to my blog</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src={% static 'assets/background.jpg' %} class="d-block w-100" alt="slide-two">
            <div class="carousel-caption d-none d-md-block h-75">
              <h5 class="text-dark">Enjoy</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
{% endblock block_body %}